@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
}

h1 {
    font-weight: bold;
    margin: 0.5rem;
}

#container {
    display: grid;
    height: 70vh;
    width: 35vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 1rem 20rem;
    justify-items: center;
    align-items: center;
}

#container div {
    background-color: #EEEEEE;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 6.5rem;
    cursor: pointer;
}

#jogadorDaVez {
    font-size: 1.7rem;
    font-weight: 600;
}